pydantic
pyyaml
docker
opentelemetry-api
opentelemetry-sdk
openai
python-dotenv
numpy<2
streamlit
watchdog
pandas
matplotlib
seaborn
scikit-learn
nltk
spacy
textblob
beautifulsoup4
networkx
sentence-transformers

scipy
scipy
scipy
